.Herosection{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.Herosection h1{
    font-size: 48px;
    font-weight: 1000;
}
.Herosection p{
    font-size: 23px;
    font-weight: 500;
}
