*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}

.btn-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  padding: 18px;
  margin: 3px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}
.btn:active{
  color: white;
  background-color: black;

}
.input{
  padding: 8px;
  text-align: right;
  border: 2px solid black;
  margin: 8px 0;
}