*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(56, 56, 56);

}

.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.btn{
  padding: 6px;
  margin: 8px;
  font-size: 1rem;
  background-color: lightcoral;
  border-radius: 3px;
  cursor: pointer;
}
.clearbtndiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 8px;
  font-size: 1rem;
  background-color: rgb(255, 0, 0);
  border-radius: 3px;
  cursor: pointer;
}
.input{
  font-size: 1rem;
  padding: 6px;
  border: 1.5px solid black;
  color: black;
}
.ul{
  text-decoration: none;
  
}
.li{
  font-size: 14px;
  padding: 6px;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  border-radius: 5px;
}
span{
  background-color: red;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
  border-radius: 3px;
}